[Desktop Entry]
Name=KUTimeout
Comment=Limits computer usage to a predefined amount of time per day
Exec=/usr/bin/kutimeout
Icon=chronometer
Type=Application
X-GNOME-Autostart-enabled=true
X-KDE-autostart-phase=2
